:root {
  --bg-color: #3d3b3c;
  --border-color: #ffffff;
  --button-color: #ffffff;
  --button-hover-color: #3d3b3c;
  --font-color: #3d3b3c;
  --font-hover-color: #ffffff;
}

html {background-color:var(--bg-color); font-family: Karla, sans-serif; font-size: 16px;
  width: 100%; display: flex; flex-direction: row; justify-content: center; overflow-y: scroll;}

h5, h4, h3, h2, h1 {color:var(--font-hover-color); margin-bottom: 16px; text-align: center;}

@media (orientation: landscape) {
  p {background-color:var(--button-color); color:var(--font-color); font-weight: 550; line-height: 24px;
     padding:16px 66px; border: 2px solid var(--border-color); text-align: center; }
  a {text-decoration: none!important;}
}
  
@media (orientation: portrait) {
  p {background-color:var(--button-color); color:var(--font-color); font-weight: 550; line-height: 24px; height: 40px;
     padding:40px 66px; border: 2px solid var(--border-color);  text-align: center; margin-top: 0px;}
  a {text-decoration: none!important; font-size: 2.0em; text-align: center;}
  h1 {font-size: 3.0em;}
  h2 {font-size: 2.5em;}
  h3 {font-size: 2.0em;}
}

p:hover {background-color:var(--button-hover-color); color:var(--font-hover-color);}